*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: ;*/
}
body{
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
}
.container .left{
    position: relative;
    background-color: #2E2E30;
    padding: 40px;
}
.container .right{
    position: relative;
    background-color: #2E2E30;
    padding: 40px;
}